body {
    overflow-x: hidden;
}


.container-logo {
    display: flex;
    justify-content: center;
}

.logo {
    margin-top: 3%;
    margin-right: 8%;
}

.text-wait {
    transform: translate(11%,-400%) rotate(-15deg);
}

.text-scroll {
    transform: translate(5%, 135%) rotate(-4deg);
}

.text-game {
    transform: translate(55%, -200%) rotate(10deg);
}

.container-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;     
    width: 70%;
    margin: -11% 0% 0 16%; 
}

.title-container {
    display: flex;
    align-items: center;
    text-align: center;
}

.letter-design, .letter-design-three {
    position: absolute;
} 

.letter-design-three{
    transform: translate(5%, -4%);
}

.letter-r {
    transform: translate(-3%, 10%);
}

.letter-p {
    transform: translate(-3%, 10%); 
}

.letter-a {
    transform: translate(-3%, 10%);
}

.exclamation-mark {
    margin-right: 5%;
}

.container-gobelets {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gobelet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle-yes, .circle-no {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.5rem;
    height: 3rem;
}

.title {
    margin-left: 17%;
}

.sub-title {
    margin-left: 23%;
    margin-top: -3%;
}

.title-part {
    margin-left: 4%;
}

@media screen and (max-width: 1640px) {
    
    .container-title {
        margin: -11% 0% 0 10%;
        width: auto;
    }

    .text-scroll {
        transform: translate(1%, 100%) rotate(-4deg);
    }

    .text-game {
        transform: translate(57%, -270%) rotate(10deg);
    }

    .text-wait {
        transform: translate(8%,-450%) rotate(-15deg);
    }

    .logo {
        margin-right: 8%;
    }

    .exclamation-mark {
        margin-right: 15%;
    }

    .sub-title {
        margin-left: 16%;
        margin-top: -1%;
    }

    .container-gobelets {
        gap: 3%;
    }
}

@media screen and (max-width: 1280px) {

    .container-title {
        margin: -10% 0% 0% 5%;
        width: 100%;
    }

    .text-scroll {
        transform: translate(1%, 320%) rotate(-3deg);
    }

    .text-game {
        transform: translate(60%, -270%) rotate(10deg);
    }

    .text-wait {
        transform: translate(2%,-350%) rotate(-15deg);
    }

    .exclamation-mark {
        margin-right: 12%;
    }

    .sub-title {
        margin-left: 22%;
    }

    .container-gobelets {
        gap: 6%;
    }
}

