
/* Initialiser les fonts */

@font-face {
    font-family: 'Made Soulmaze';
    font-weight: 400;
    src: url('../fonts/made_soulmaze/MADE\ Soulmaze\ PERSONAL\ USE.otf') format('truetype')
}
@font-face {
    font-family: 'Stand Rock';
    src: url('../fonts/stand-rock-font/misc/StandRock\ PERSONAL\ USE\ ONLY!-d65c.woff') format('truetype')
}
@font-face {
    font-family: 'Stand Rock';
    font-weight: 300;
    src: url('../fonts/stand-rock-font/misc/StandRock\ PERSONAL\ USE\ ONLY!-66c7.woff2') format('truetype');
}
@font-face {
    font-family: 'Stand Rock';
    font-weight: 400;
    src: url('../fonts/stand-rock-font/Standrock-gxGP4.ttf') format('truetype');
}

body {
    background-color: #CAD62A;
}

.hidden {
    opacity: 0;
}


.container-title {
    font-size: 1rem;       
}

.text-scroll, .text-wait, .text-game {
    font-family: "Stand Rock", sans-serif;
    font-weight: 100;
}

.text-wait {
    font-size: 5em;
}

.text-game {
    font-size: 3em;
    font-weight: 300;
    letter-spacing: 0.3rem;
}

.text-scroll {
    font-size: 3.5em;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.title {
    font-family: "Made Soulmaze", sans-serif;
    font-size: 5.5em;
    color: #1f1b1bee;
}

.exclamation-mark {
    width: 30rem;
}

.sub-title {
    font-family: "Stand Rock", sans-serif;
    font-size: 2.8em;
    text-transform: lowercase;
}

.yes, .no {
    font-family: "Stand Rock";
    font-size: 1.5em;
    letter-spacing: 0.3rem;
}

.gobelet, .second-gobelet {
    filter: hue-rotate(14deg) saturate(200%) brightness(70%);
}

.circle-yes, .circle-no {
    background-color: #1f1b1bee;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.774);
}

@media screen and (max-width: 1640px) {

    .exclamation-mark {
        width: 25rem;
    }

    .text-game {
        font-size: 2.5em;
    }

    .text-scroll {
        font-size: 3em;
    }

    .text-wait {
        font-size: 4em;
    }
}

@media screen and (max-width: 1280px) {

    .exclamation-mark {
        width: 16rem;
    }

    .text-game {
        font-size: 2em;
    }

    .text-scroll {
        font-size: 2.3em;
    }

    .text-wait {
        font-size: 4em;
    }
}